<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <%= form_with(model:[post, comment], local: true) do |f| %>
        <div class="form_group">
          <%= f.text_area :post_comment, placeholder: "コメントをここに", rows: "10", class: "form-control mb-3" %>
          <%= f.submit btn, class: "btn btn-secondary", data: {disable_with: '送信中'}  %>
        </div>
      <% end %>
    </div>
  </div>
</div>