<div class="container">
  <div class="row">
    <div class="col">
      <p>ランク</p>
      <p>スコア　パット</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      グラフ
      <% if @rounds.present? %>
      <table class="table table bordered">
        <tbody>
          <tr>
            <th>day</th>
            <% @rounds.each do |round| %>
              <td><%= round.play_date %></td>
            <% end %>
          </tr>
          <tr>
            <th>score</th>
            <% @rounds.each do |round| %>
              <td><%= round.scores.sum(:stroke_count) %></td>
            <% end %>
          </tr>
          <tr>
            <th>putt</th>
            <% @rounds.each do |round| %>
              <td><%= round.scores.sum(:putt_count) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% else %>
        <p class="text-center">ラウンド情報はありません</p>
      <% end %>
    </div>
    <div class="col-lg-3">
      <%= link_to "スコア入力", new_user_round_path(@user) %>
    </div>
  </div>
</div>