<div class="container mt-5 mx-auto">
  <div class="row">
    <h2 class="mx-auto border-bottom"><%= title %></h2>
  </div>
  <% model.each do |follow| %>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-auto">
        <%= attachment_image_tag follow, :profile_image, fallback: "no-image.jpg", size: "50x50" %>
      </div>
      <div class="col-auto">
        <p class="text-center">
          <strong><%= follow.account_name %></strong><br>
          <span style="font-size: 14px;"><%= follow.first_name + follow.last_name %></span>
        </p>
      </div>
      <div class="col-auto d-flex align-items-center">
        <p class="btn btn-sm btn-outline-primary">フォローする</p>
      </div>
      <div class="col">
      </div>
    </div>
  <% end %>
</div>