<div class="container mt-4 mx-auto">
  <div class="row">
    <h2 class="mx-auto mb-4 border-bottom"><%= "#{@followers.count} followers" %></h2>
  </div>
  <%= render "users/follow", model:@followers, user: @user %>
</div>