<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 mx-auto text-center">
      <p>
        <strong>EnjoyGolf</strong>は<br>
        ゴルフ好きの投稿をみることができます。<br>
        実力の近い人を探してフォローしてみましょう。<br>
        ログイン後にコメント・いいね・フォローをすることができます。<br>
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4 text-center">
      <h1>New</h1>
      新規投稿3件表示
    </div>
    <div class="col-lg-4 text-center">
      <h1>Faborite</h1>
      人気投稿3件表示
    </div>
    <div class="col-lg-4 text-center">
      <h1>Ranking</h1>
      男性ランキング3件表示<br>
      女性ランキング3件表示
    </div>
  </div>
</div>