<!--BgCarouselはhomes.scssにて個別指定-->

<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000" data-pause="false">
  <div class="carousel-inner BgCarousel">
    <div class="carousel-item BgCarouselItem active d-flex align-items-center justify-content-center"><h1>Enjoy Golf</h1></div>
    <div class="carousel-item BgCarouselItem d-flex align-items-center justify-content-center"><h1>Enjoy Golf</h1></div>
    <div class="carousel-item BgCarouselItem d-flex align-items-center justify-content-center"><h1>Enjoy Golf</h1></div>
  </div>
</div>