<div class="jumbotron vh-100 d-flex align-items-center justify-content-center">
  <div style="color: #FFFFFF; opacity: 0.7;">
    <h1 class="display-1 font-weight-boldd">Enjoy Golf</h1>
  </div>
</div>
