/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  font-family: 'Kiwi Maru', serif;
 }

 header {
<<<<<<< HEAD
  height: 62px;
  font-size: 20px;
 }

.navbar {
=======
  font-size: 16px;
>>>>>>> 71b9e8080d616ae31356c2211ce560c4aedb3720
  background-color: #003a66;
}
// ハンバーガーメニュー設定
 .navbar-toggler {
  background-color: #003a66;
  border-color: 	#f8f9fa;
 }

 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }

 body {
  color: #404040;
  padding-top: 62px;
  background-color: #eff7ff;
 }

 i {
  font-size: 20px;
 }

 a {
  color: #0091ff;
 }

 a:hover {
  color: #005799;
 }

 .pagination {
   justify-content: center;
 }

// サイドバー固定
 .sidebar_fixed {
  position: sticky;
  top: 80px;
 }

 // 画像トリミング
 .img-wrapper {
   position: relative;
 }

 .img-wrapper:before {
  content: '';
  display: block;
  padding-top: 75%; /* アスペクト比(横に対する縦の長さ) */
 }

 .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

// 独自設定クラス
 .check-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .profile_image {
  object-fit: cover;
 }

.card-footer .form-control {
 border-color: white;
 resize: none;
}

.card-footer .form-control:focus {
 border-color: white;
 box-shadow: none;
}
