/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 header {
  font-size: 16px;
  background-color: #003a66;
 }

 body {
  color: #043c78;
  font-size: 14px;
  padding-top: 56px;
  background-color: #f4f9ff;
 }

 i {
  font-size: 20px;
 }

 a {
  color: #0068b7;
 }

 a:hover {
  color: #0091ff;
 }

 .pagination {
   justify-content: center;
 }

// サイドバー固定
 .sidebar_fixed {
  position: sticky;
  top: 80px;
}

.card-img-top {
 height: 300px;
 object-fit: cover;
}

// 独自設定クラス
 .check-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

.profile_image {
 object-fit: cover;
}
